

<div class="footer-container">
    <div class="footer-inner-container">
        <div class="footer1-text">
            <h2>
                Let's Collaboration with Us
            </h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit.
            </p>

        </div>

        <div class="footer1-input">
            <input type="text">
        </div>

    </div>
    <div class="footer-div-2">
        
    </div>
    <div class="footer-div-3">

    </div>

    </div>
    
