 .navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.4rem 2rem;
    background-color: #FFFFFF;

    align-items: center;
  

}



.grapz {
    color: var(--dark-100, #24282C);

}

.navbar-text p {
color: var(--primary-100, #A5823C);
text-align: center;
font-family: Manrope;
font-size: 2.4rem;
font-style: normal;
font-weight: 800;
line-height: normal;

}

.hamburger img {
    height: 24px;
    width: 24x;

}

.hamburger-container {
   
    background: var(--white-100, #F4F4F4);
    padding: 1.2rem;
}

