<div class="portfolio-main">
    <div class="portfolio-container">
        <div class="portfolio-container-inner">
            <div class="portfolio-container1">
                <img src="../../../assets/images/Rectangle 9.jpg" alt="line">
                <h3>Portfolio</h3>
            </div>
            <div class="portfolio-container-heading">
                <h1>
                    See my <span class="best">Best Portfolio</span>
                </h1>
            </div>
        </div>
        <div class="see-more">
            <h3>See More</h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M19.75 12.2257L4.75 12.2257" stroke="#A5823C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.7002 6.20124L19.7502 12.2252L13.7002 18.2502" stroke="#A5823C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

        </div>
    </div>

    <div class="container-2">
        <p>Embark on a visual journey through my best portfolio, where my passion for capturing captivating moments and my
            expertise in photography come together to create stunning and memorable images.</p>
    </div>

    <div class="container-3">
        <div class="img-grid">
            <img src="../../../assets/images/grid/image.png" alt="img1" id="img1" class="large">
            <img src="../../../assets/images/grid/image (1).png" alt="img2" id="img2" class="wide" >
            <img src="../../../assets/images/grid/image (2).png" alt="img3" id="img3" class="normal">
            <img src="../../../assets/images/grid/image (4).png" alt="img5"  class="normal" id="img-4">
            <img src="../../../assets/images/grid/image (3).png" alt="img4"  class="wide" id="img-5">  
        </div>
    </div>

</div>

<!-- 
<body>
    <div class="portfolio-main">
        <div class="portfolio-container">
            <div class="portfolio-container-inner">
                <div class="portfolio-container1">
                    <img src="../../../assets/images/Rectangle 9.jpg" alt="line">
                    <h3>Portfolio</h3>
                </div>
            </div>
            <div class="portfolio-container-heading">
                <h1>See my Best Portfolio</h1>
            </div>
        </div>
        <div class="see-more">
            <p>See More <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path d="M19.75 12.2257L4.75 12.2257" stroke="#A5823C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.7002 6.20124L19.7502 12.2252L13.7002 18.2502" stroke="#A5823C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span></p>
        </div>
    </div> -->