<div class="main-container">
    <div class="first-half">
        <div class="text">
            <h3>Hello, My name is...</h3>
            <h1>Cristiano <span class="ronaldo-text"> Ronaldo</span></h1>
            <h1>Dos Santos</h1>
            <p>I believe that photography is not just about taking pictures, 
            but it's also about capturing emotions and memories that will last a lifetime.</p>
        </div>
        <div class="info">
            <div class="clients">
                <div class="cilents-text">
                    <h3>My Awesome Clients</h3>
                </div>
                <div class="ellipse-clients">
                    <div class="images">
                        <img src="../../../assets/images/Ellipse 6.png" alt="" class="image">
                        <img src="../../../assets/images/Ellipse 6.png" alt="" class="image">
                        <img src="../../../assets/images/Ellipse 6.png" alt="" class="image">
                        <img src="../../../assets/images/Ellipse 6.png" alt="" class="image">
                        <img src="../../../assets/images/Ellipse 6.png" alt="" class="image">
                        
                        
                    </div>
                        <button class="ellipse-btn">See More<span>-></span></button>
                </div>
               
            </div>
            <div class="contact">
                <div class="images">
                    <img src="../../../assets/images/Ellipse 6.png" alt="" class="image">
                    <img src="../../../assets/images/Ellipse 6.png" alt="" class="image">
                </div>
                <div class="contact-text">
                    <h3>Contact Me On</h3>
                    <h2>+087 883 3441</h2>
                </div>
           
            </div>
            <div class="btn">
                <button>See my BioData <span>-></span></button>
            </div>
    
        </div>

    </div>

    <div class="second-half">
        <img src="../../../assets/images/image.jpg">
    </div>

  

</div>

