<header>
        <nav class="navbar">
                <div class="logo-elements">
                        <div class="logo-inner">
                                <label>Photo<span id="grapz">Graphz</span></label>
                        </div>
                        <div class="elements-navbar">
                                
                                        <li><a class="active" href="#">Home</a></li>
                                        <li><a href="#">About</a></li>
                                        <li><a href="#">Service</a></li>
                                        <li><a href="#">Blogs</a></li>
                                        <li><a href="#">Contact</a></li>
                                        <li><a href="#" id="touch">Get in touch</a></li>
                        </div>
                

                </div>
                <div class="right-side">
                        <div class="rectangle">
                                |
                        </div>
                      
                        <div class="button-navbar">
                                <button>Get in Touch</button>
                        </div>

                </div>
                <div>
                        <div class="hamburger-container">
                                <img src="../../../assets/images/hamburger.png">
                          </div>
                </div>
            
                
             
        </nav>
</header>


