<div class="about-me-main">
    <div class="inner-bout-me">
        <div class="bout-me-left-container">
            <div class="left-container1">
                <img src="../../../assets/images/Rectangle 9.jpg" alt="line">
                <h3>About Me</h3>
            </div> 
            <h1>Want to Know More About Me?</h1>
            <div class="left-container2">
                <p>
                    As a photographer, my passion is to capture moments that tell a story. With each click of the camera, I strive to create images that are not only beautiful but also meaningful.
                    My style is a mix of classic and contemporary, with a focus on natural light and authentic moments.
                </p>
            </div>
            <div class="left-container3">
                <div class="last-inner-div">
                    <div class="btn">
                        <p>See More</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                            <path d="M19.75 12.2257L4.75 12.2257" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M13.7002 6.20131L19.7502 12.2253L13.7002 18.2503" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="btn-2">
                        <p>See My Portfolio</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bout-me-right-container">
            <div class="image">
                <img src="../../../assets/images/ image 2.png" alt="photo-2" >
            </div>

        </div>
    </div>
</div>
